{% extends "layouts/app.twig" %}

{% block content %}

<h1>{{ lang('mustached.settings.plugins.title') }}</h1>

<h2>Twitter</h2>

{% for key, c in config %}
	{{ key }} : {{ c }}
	<br>
{% endfor %}


{% endblock %}