{% extends 'base.html.twig' %}

{% block content %}

	<h1>Créer un compte</h1>
	
	{{ form_open('user/account/create') | raw }}
		{% include '_register_form.html.twig' %}
	{{ form_close() | raw }}

{% endblock %}