{% extends "layouts/app.twig" %}

{% block content %}

<div align="center">

	<img src="{{ url('/assets/img/custom/coworkingLogo.png') }}" class="coworkingLogo" alt=""/>

	<h2 class="light">{{ lang('mustached.checkin.add.title') }}</h2>

	{{ form }}

</div>

{% endblock %}
