{# application/modules/bienvenido/views/mensaje_bienvenida.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block content %}

	<h1>{{ lang('welcome')}}</h1>

{% endblock %}